/* .navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 20px; /* 항목들 간의 간격 */
  /* }*/
  
  /* .navbar-nav .nav-link {
    cursor: pointer;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link:hover {
    text-decoration: underline;
  }  */
/* 전체 컨테이너 */

  .navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 15px; /* 버튼들 간의 간격 */
  }
  
  .navbar-nav .btn {
    font-weight: bold;
    border-radius: 5px;
  }
  
  .navbar-nav .btn:hover {
    background-color: #007bff;
    color: white;
  }

